<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Crud
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="crud-with-local">Crud With Local(Template Driven)</a></li>
                        <li><a class="dropdown-item" routerLink="crud-json">Crud Json(Reactive form)</a></li>
                        <li><a class="dropdown-item" routerLink="crud-api">Crud Api</a></li>
                    </ul>
                </li>

                <li class="nav-item " routerLink="big-basket">
                    <a class="nav-link cursor-pointer">
                        Ecommerce
                    </a>
                </li>
                <li class="nav-item " routerLink="logic-building">
                    <a class="nav-link cursor-pointer">
                        Logic Building
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>